$elegant-font: 'OldStandardTT-Regular', serif;
$modern-font: 'Archivo', sans-serif;
$modern-font-bold: 'Archivo-Bold', sans-serif;
$miranda-golden: #bead8e;
$miranda-grey: #777777;
$miranda-black: #222222;

.about-us-section {
  .about-us-title {
    padding: 50px 0 0 20px;
    font-family: $elegant-font;
    font-size: 40px;
    color: white;
    text-align: start;
    background-image: url('../img/about-us-title.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
  }
  .about-us-description {
    padding: 5px 10px 0 8px;
    font-family: $elegant-font;
    font-size: 25px;
    text-align: center;
    height: 120px;
  }
}
.services-grid {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  .service-card {
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #b8b8b81a;
    width: 150px;
    height: 150px;
    border: none;
    .service-icon {
      width: 40px;
      height: 40px;
    }
    .service-card-text {
      padding-top: 5px;
      color: $miranda-black;
      font-size: 10px;
    }
    &:hover {
      box-shadow: 5px 14px 24px #bead8e;
    }
    #diamond {
      font-size: 40px;
      color: $miranda-golden;
    }
    #coffee {
      font-size: 40px;
      color: $miranda-golden;
    }
    #location {
      font-size: 40px;
      color: $miranda-golden;
    }
  }
  .service-card-negative {
    background: $miranda-golden 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #bead8e4d;
    width: 150px;
    height: 150px;
    border: none;
    .service-icon {
      width: 40px;
      height: 40px;
    }
    .service-card-text-negative {
      padding-top: 5px;
      color: white;
      font-size: 10px;
    }
    &:hover {
      box-shadow: 5px 14px 24px $miranda-golden;
    }
    #airplane {
      font-size: 40px;
      color: white;
    }
  }
}

