$elegant-font: 'OldStandardTT-Regular', serif;
$modern-font: 'Archivo', sans-serif;
$modern-font-bold: 'Archivo-Bold', sans-serif;
$miranda-golden: #bead8e;
$miranda-grey: #777777;
$miranda-black: #222222;

.home-main {
  height: 300px;
  background-image: url('../img/home-background1.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .home-main-text {
    width: 55%;
    padding-top: 40px;
    padding-left: 30px;
    font-size: 30px;
    font-family: $elegant-font;
  }

  .home-main-button-line {
    padding-top: 120px;
    margin-left: 20px;

    #main-button-1 {
      color: white;
      font-size: 10px;
      width: 120px;
      height: 35px;
      background: #bead8e 0% 0% no-repeat padding-box;
      border: none;
      box-shadow: 0px 14px 24px #524f4aaf;
      cursor: pointer;
    }
    #main-button-2 {
      color: $miranda-black;
      font-size: 10px;
      width: 120px;
      height: 35px;
      background: #bead8e3f 0% 0% no-repeat padding-box;
      border: 2px solid #e0e0e0;
      cursor: pointer;
    }
  }
}

.book-panel {
  margin-top: 10px;
  text-align: center;
  .check-in-line-panel {
    text-align: center;
    height: 70px;
    background: $miranda-black 0% 0% no-repeat padding-box;
    margin: 0px 20px 10px;
    .check-in-panel {
      width: 90px;
      margin: 0 20px;
      display: inline-block;
      font-size: 10px;
      padding-bottom: 40px;
      border-bottom: 0.1px solid #bead8e;
      justify-content: flex-start;
      display: inline-flex;
      cursor: pointer;
    }
    #check-in {
      color: white;
    }
    #check-out {
      color: white;
    }
  }
  .book-button {
    color: white;
    font-size: 10px;
    width: 120px;
    height: 35px;
    background: $miranda-golden 0% 0% no-repeat padding-box;
    border: none;
    cursor: pointer;
  }
}

.section-header {
  padding: 0px 12px;
  margin: 10px 13px;
  display: inline-flex;
  .since {
    font-size: 15px;
    padding-right: 5px;
    font-weight: bold;
    color: $miranda-grey;
  }
  .year {
    font-size: 15px;
    font-weight: bold;
    color: $miranda-golden;
  }
}
.section-body {
  padding: 0px 15px 25px;
  text-align: center;
  font-size: 28px;
  font-family: $elegant-font;
  letter-spacing: -0.9px;
}
.services-grid {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  .service-card {
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #b8b8b81a;
    width: 150px;
    height: 150px;
    border: none;
    .service-icon {
      width: 40px;
      height: 40px;
    }
    .service-card-text {
      padding-top: 5px;
      color: $miranda-black;
      font-size: 10px;
    }
    &:hover {
      box-shadow: 5px 14px 24px #bead8e;
    }
    #diamond {
      font-size: 40px;
      color: $miranda-golden;
    }
    #coffee {
      font-size: 40px;
      color: $miranda-golden;
    }
    #location {
      font-size: 40px;
      color: $miranda-golden;
    }
  }
  .service-card-negative {
    background: $miranda-golden 0% 0% no-repeat padding-box;
    box-shadow: 0px 14px 24px #bead8e4d;
    width: 150px;
    height: 150px;
    border: none;
    .service-icon {
      width: 40px;
      height: 40px;
    }
    .service-card-text-negative {
      padding-top: 5px;
      color: white;
      font-size: 10px;
    }
    &:hover {
      box-shadow: 5px 14px 24px $miranda-golden;
    }
    #airplane {
      font-size: 40px;
      color: white;
    }
  }
}

.rooms-section-header {
  margin: 30px 12px;

  .rooms-section-title-small {
    font-size: 15px;
    color: $miranda-grey;
    font-weight: 600;
  }
  .rooms-section-title-large {
    font-size: 30px;
    color: #222222;
    font-family: $elegant-font;
  }
}
.rooms-section-button-container {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px;
  .rooms-section-button {
    width: 75px;
    height: 50px;
    background: white 0% 0% no-repeat padding-box;
    border: 2px solid white;
    color: $miranda-grey;
    font-size: 11px;
    font-weight: bold;
    &:hover {
      color: $miranda-black;
      border: 2px solid #e6e6e6;
    }
    &:active {
      color: $miranda-black;
      border: 2px solid #e6e6e6;
    }
  }
}

.room-type-grid {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  height: 400px;
  margin: 20px 0;
  .room-type-grid-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 150px 15px 15px;

    .room-type-grid-data {
      display: flex;
      font-size: 10px;
      letter-spacing: 1.8px;
      .grid-icon {
        padding-right: 5px;
      }
    }
    .room-type-grid-title {
      font-size: 18px;
      font-family: 'Old Standard TT', serif;
    }
  }
  #room-type-1 {
    background-image: url('../img/room1.jpg');
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #room-type-2 {
    background-image: url('../img/room2.jpg');
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #room-type-3 {
    background-image: url('../img/room3.jpg');
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.calltoaction-section-header {
  margin: 20px 10px;
  .calltoaction-section-title-small {
    font-size: 15px;
    color: #777777;
    font-family: $modern-font;
    font-weight: bold;
  }
  .calltoaction-section-title-large {
    font-size: 30px;
    letter-spacing: -0.9px;
    color: #222222;
    font-family: $elegant-font;
    font-weight: 100;
  }
  .calltoaction-section-div {
    display: flex;
    margin: 10px 0;
    .calltoaction-section-description {
      font-size: 13px;
      color: #777777;
      font-family: $modern-font;
      line-height: 20px;
      width: 60%;
    }
    .calltoaction-section-div-button {
      width: 135px;
      height: 35px;
      background: #000000 0% 0% no-repeat padding-box;
      border: none;
      cursor: pointer;
      font-size: 9px;
      color: white;
      font-weight: 500;
      letter-spacing: +0.8px;
      margin-left: 10px;
    }
  }
}
.calltoaction-section-body {
  margin: 20px 10px;
  .calltoaction-body-benefits-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .calltoaction-body-benefits-card-circle {
      border-radius: 50%;
      background: white 0% 0% no-repeat padding-box;
      box-shadow: 0px 8px 16px #bead8e33;
      padding: 17.5px;
      width: 70px;
      height: 70px;
      min-height: 70px;
      min-width: 70px;
      text-align: center;
      justify-items: center;
      .icon {
        font-size: 32px;
        color: $miranda-golden;
        margin: 0 auto;
      }
    }
    #negative-circle {
      background: $miranda-golden 0% 0% no-repeat padding-box;
      .icon {
        color: white;
      }
    }
    .calltoaction-body-benefits-text-container {
      margin: 0px 20px;
      .calltoaction-body-benefits-card-title {
        font-size: 20px;
        color: $miranda-black;
        font-weight: 100;
        font-family: $elegant-font;
        margin: 15px 0px;
        letter-spacing: -0.9px;
      }
      .calltoaction-body-benefits-card-description {
        font-size: 8px;
        color: $miranda-grey;
        font-family: $modern-font;
        text-align: justify;
        padding-right: 20px;
        line-height: 14px;
      }
    }
  }
}
.section-divider {
  width: 300px;
  height: 10px;
  background: $miranda-golden 0% 0% no-repeat padding-box;
  margin: 15px auto;
}

.take-a-tour-section-header {
  margin: 20px 10px;
  .take-a-tour-section-title-small {
    font-size: 15px;
    color: $miranda-grey;
    font-family: $modern-font;
    font-weight: bold;
  }
  .take-a-tour-section-title-large {
    font-size: 30px;
    letter-spacing: -0.9px;
    color: #222222;
    font-family: $elegant-font;
    font-weight: 100;
  }
  .take-a-tour-section-div {
    display: flex;
    margin: 10px 0px;
    .take-a-tour-section-description {
      font-size: 13px;
      color: #777777;
      font-family: $modern-font;
      padding-right: 95px;
      text-align: justify;
      font-size: 8.5px;
      line-height: 14px;
    }
  }
}

.testimonial-section {
  margin: 20px 10px;
  .testimonial-section-small-title {
    font-size: 15px;
    color: $miranda-grey;
    font-family: $modern-font;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .testimonial-section-large-title {
    margin: 10px 0px;
    font-size: 30px;
    letter-spacing: -0.9px;
    color: #222222;
    font-family: $elegant-font;
    font-weight: 100;
  }
  .testimonial-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .testimonial-section-card {
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      background: white 0% 0% no-repeat padding-box;
      box-shadow: 0px 14px 24px #b8b8b81a;
      .testimonial-section-card-image {
        margin-top: 25px;
        .testimonial-image {
          object-fit: cover;
          width: 75px;
          height: 75px;
          border-radius: 550%;
          background: white 0% 0% no-repeat padding-box;
          margin: 10px;
        }
      }
      .testimonial-section-card-text {
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
        .testimonial-section-card-text-title {
          font-size: 16px;
          color: $miranda-black;
          font-family: $elegant-font;
        }
        .testimonial-section-card-text-job {
          margin: 10px 0px 15px;
          font-size: 10px;
          color: $miranda-golden;
          font-family: $modern-font;
          font-weight: bold;
        }
        .testimonial-section-card-text-description {
          font-size: 8px;
          color: $miranda-grey;
          font-family: $modern-font;
          line-height: 20px;
          text-align: center;
          line-height: 12px;
        }
      }
    }
  }
}
.carousel-section {
  background-color: grey;
  justify-content: center;
  height: 280px;
  .carousel-container {
    width: 100%;
  }
  .carousel-detail-box {
    width: 45%;
    height: 170px;
    padding: 15px;
    margin: 40px;
    background: #111111 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 32px #11111133;
    color: #bead8e;
    .carousel-detail-box-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .carousel-detail-box-icon {
        font-size: 20px;
      }
      .carousel-detail-box-counter {
        font-size: 8px;
        font-weight: 700;
      }
    }
    .carousel-detail-box-title {
      padding-top: 15px;
      color: white;
      font-family: 'Old Standard TT', serif;
      font-size: 18px;
      letter-spacing: -0.8;
    }
    .carousel-detail-box-description {
      padding-top: 15px;
      line-height: 13px;
      color: #d4d4d4;
      font-size: 9px;
    }
  }
}

.banner {
  width: 100%;
  height: 125px;
  background-image: url('../img/masion-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .banner-text {
    padding: 8px 8px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.582) no-repeat padding-box;
    font-family: $elegant-font;
    line-height: 22px;
    font-size: 25px;
    font-weight: 100;
  }
}

.news-section {
  .news-section-header {
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    .news-section-title-small {
      font-size: 12px;
      color: $miranda-grey;
      font-family: $modern-font;
      font-weight: bold;
      letter-spacing: 2px;
    }
    .news-section-title-large {
      font-size: 35px;
      letter-spacing: -0.9px;
      color: #222222;
      font-family: $elegant-font;
    }
  }
  .news-section-header-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    .news-section-header-button {
      background: $miranda-golden 0% 0% no-repeat padding-box;
      box-shadow: 0px 8px 16px #bead8e33;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      margin: 10px 10px 0px 0px;
    }
    #negative-header-button {
      background: white 0% 0% no-repeat padding-box;
    }
  }
}
.news-section-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  .news {
    text-align: left;
    max-width: 50%;
    .news-image {
      max-width: 100%;
      display: block;
    }
    .news-data {
      display: flex;
      justify-content: space-around;
      font-size: 10px;
      .news-card-information {
        margin: 15px 0px 0px 0px;
        display: flex;
        align-items: center;
        color: $miranda-golden;
        font-family: $modern-font;
        font-size: 8px;
        .news-feed-icon {
          padding: 4px;
          font-size: 9px;
        }
      }
    }
    .news-title {
      font-family: $elegant-font;
      font-size: 14px;
      line-height: 19px;
      color: $miranda-black;
      margin: 5px 0;
      padding: 0 7px;
    }
    .news-description {
      font-size: 8.5px;
      line-height: 17px;
      color: $miranda-black;
      margin: 5px 0;
      padding: 0 7px;
    }
  }
}
