$elegant-font: 'OldStandardTT-Regular', serif;
$modern-font: 'Archivo', sans-serif;
$modern-font-bold: 'Archivo-Bold', sans-serif;
$miranda-golden: #bead8e;
$miranda-grey: #777777;
$miranda-black: #222222;

.header-section {
  .header-background {
      background-color: rgba(0, 0, 0, 0.623);
    .header-section-container {
      height: 200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 30px;
      background-image: url('../img/header-room-list.jpg');
      background-size: cover;
      background-position: center;
      .header-section-title-small {
        font-size: 10px;
        font-weight: bold;
        color: white;
        margin-bottom: 20px;
      }
      .header-section-title-large {
        font-size: 30px;
        font-weight: bold;
        color: white;
        font-family: $elegant-font;
      }
    }
  }
}
