$elegant-font: 'OldStandardTT-Regular', serif;
$modern-font: 'Archivo', sans-serif;
$modern-font-bold: 'Archivo-Bold', sans-serif;
$miranda-golden: #bead8e;
$miranda-grey: #777777;
$miranda-black: #222222;

.header-section {
  .header-background {
    background-color: rgba(0, 0, 0, 0.623);
    .header-section-container {
      height: 200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 30px;
      background-image: url('../img/header-room-list.jpg');
      background-size: cover;
      background-position: center;
      .header-section-title-small {
        font-size: 10px;
        color: white;
        margin-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.466);
      }
      .header-section-title-large {
        font-size: 30px;
        color: white;
        font-family: $elegant-font;
        background-color: rgba(0, 0, 0, 0.466);
      }
    }
  }
}

.room-grid-section {
  margin: 10px 0 0 0;
  .room-grid-card {
    .room-grid-card-image-container {
      .card-image {
        height: 300px;
        width: 100%;
      }
    }
    .room-grid-icons {
      margin: 0 0 0 20px;
      width: 50%;
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: white 0% 0% no-repeat padding-box;
      box-shadow: 0px 14px 24px #8b8b8b1f;
      justify-content: space-evenly;
      .room-grid-icon-item {
        font-size: 10px;
        color: $miranda-grey;
      }
    }
    .room-grid-card-info {
      .room-grid-container {
        display: flex;
        .room-grid-text-container {
          width: 60%;
          margin-left: 20px;
          padding-top: 20px;
          .room-grid-card-info-title {
            font-size: 14px;
            color: $miranda-black;
            margin-bottom: 10px;
            font-family: $elegant-font;
            letter-spacing: -0.6px;
          }

          .room-grid-card-info-description {
            font-size: 8px;
            color: $miranda-grey;
            margin-bottom: 10px;
            font-family: $modern-font;
            line-height: 15px;
          }
        }
        .room-grid-price-button-container {
          display: flex;
          flex-direction: column;
          justify-items: center;
          align-items: center;
          margin-left: 20px;
          .room-grid-price-container {
            display: flex;
            align-items: baseline;
            .room-grid-card-price {
              font-size: 25px;
              color: $miranda-golden;
              margin-bottom: 10px;
              font-family: $modern-font;
              font-weight: bold;
            }
            .room-grid-card-price-text {
              font-size: 10px;
              color: $miranda-golden;
              margin-bottom: 10px;
              font-family: $modern-font;
            }
          }

          .room-grid-card-divider {
            height: 0.5px;
            width: 35px;
            background-color: rgba(150, 150, 150, 0.171);
            margin-bottom: 10px;
          }
          .room-grid-card-book-button {
            font-size: 10px;
            color: $miranda-grey;
            margin-bottom: 10px;
            font-family: $modern-font;
            line-height: 15px;
            background-color: rgba(255, 255, 255, 0);
            border: none;
          }
        }
      }
    }
  }
}
